<html>
  <head>
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css' />
<script src="https://maps.googleapis.com/maps/api/js"></script>
  </head>
  <body>
    <h1>Office Stores</h1>
    <div class='container'>
      <div class='col-xs-6'>
        <form class='well'>
          <select class='form-control'>
            {% for office in offices %}
              <option value=''>{{ office.name }} {{ office.place.name }}</option>
            {% endfor %}
          </select>
        </form>
        <form class='well'>
          <select class='form-control'>
            {% for store in stores %}
              <option value=''>{{ store.name }} {{ store.place.name }}</option>
            {% endfor %}
          </select>
        </form>
      </div>
      <div class='col-xs-6'>
        <div id='map' style='height:300px'>
        </div>
      </div>
    </div>
    <script>
      var offices = {{ offices | raw | json  }};
      var stores = {{ stores | raw | json  }};
    </script>
    <script>
        window.addEventListener('load', function(){
        var myLatlng = new google.maps.LatLng(40.705189,-74.009209);
        // set the map options hash
        var mapOptions = {
            center: myLatlng,
            zoom: 16,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);
        var bounds = new google.maps.LatLngBounds();
        var markers = [];
        function generateMarker(item){
          var position = new google.maps.LatLng(item.place.lat*1, item.place.lng*1);
          var marker = new google.maps.Marker({
            position: position,
            title: item.name
          });
          markers.push(marker);
        }
        offices.forEach(function(office){
          generateMarker(office);
        });
        stores.forEach(function(office){
          generateMarker(office);
        });

        markers.forEach(function(marker){
          marker.setMap(map);
          bounds.extend(marker.position);
          map.fitBounds(bounds);
        });
      });
    </script>
  </body>
</html>
